{%extends "base.html" %}
{% block metadata%}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/site.css">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/map-style.css">
<link rel="stylesheet" type="text/css" media="screen" href="/static/js/theme/default/style.css">
<script src="/static/js/json2-min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/backbone-min.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/OpenLayers.light.debug.js"></script>
<script src="/static/js/Events.js"></script>
<script src="/static/js/mapview.js"></script>
{%end%}

{%block title%}主页-{{user_name}}{%end%}

{%block content%}

{%if device_counts > 0%}
    <div>
        <h2>您关联设备个数为{{device_counts}}</h2>
        <br/>
        <div class="row">
            <div class="panel panel-default col-lg-6">
                <div class="panel-heading">设备图像信息概要</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-2">
                        <col class="col-xs-3">
                        <col class="col-xs-3">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                    </colgroup>
                        <thead>
                            <tr>
                                <th>设备地点</th>
                                <th>摄像头编号</th>
                                <th>摄像周期</th>
                                <th>图像数量</th>
                                <th>观测物种</th>
                            </tr>
                        </thead>
                        {%for dev_info in device_image_info%}
                            {% for pos_info in dev_info['position_contents']%}
                                <tr>
                                    <td class="active">{{dev_info['location']}}</td>
                                    <td>{{pos_info['position']}}</td>
                                    <td>{{pos_info['duration']}}</td>
                                    <td>{{pos_info['image_count']}}</td>
                                    <td>{{pos_info['object_name']}}</td>
                                </tr>
                            {%end%}
                        {%end%}
                    </table>
                    <div id="map" class="smallmap olMap">
                        <script type="text/template" id="map-popup-template">
                            <div style="font-size:.8em">
                                <b>站点编号:</b> <%- model.id %><br>
                                <b>站点状态:</b> <%- model.status %><br>
                                <b>站点位置:</b> <%- model.location_description %><br>

                            </div>
                        </script>
                    </div>
                </div>
            </div><!--panel panel-default-->
            <div class="panel panel-default col-lg-5 col-lg-offset-1">
                <div class="panel-heading">设备采集信息概要</div>
                <div class="panel-body">
                    {%for dev_info in device_data_info%}
                            <div class="panel panel-default">
                                <div class="panel-heading">{{dev_info['location']}}</div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped">
                                        <colgroup>
                                            <col class="col-xs-3">
                                            <col class="col-xs-3">
                                            <col class="col-xs-3">

                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>名称</th>
                                                <th>数据</th>
                                                <th>单位</th>
                                            </tr>
                                        </thead>
                                        {%for data_content in dev_info['content'] %}
                                        <tr>
                                            <td class="active">{{data_content['name']}}</td>
                                            <td>{{data_content['value']}}</td>
                                            <td>{{data_content['unit']}}</td>
                                        </tr>
                                        {%end%}
                                    </table>
                                </div>
                            </div>
                    {%end%}
                </div>
            </div>
        </div>

    </div>
{%else%}
    <div>
        <h2>您还没有关联设备，请联系管理员进行终端关联</h2>
    </div>
{%end%}



{%end%}
