.LoadingImg {
    /*margin: 0px auto;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*padding-top: 30px;*/
    /*text-align: center;*/
    display: none;

}
.Loading_message{
    /*color: white;*/
    /*font-size: larger;*/
    /*position: relative;*/
    /*display: block;*/
    left: 50%;
    top: 50%;
    text-align: center;
    display: none;
}

/*.Loading_message p{*/
    /*color: white;*/
/*}*/


/*.ImgBox ul { width: 1000px; }*/
.LoadingBg { background: #000;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: none;
    _display:none!important
}